@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700&display=swap');

#arrow-down1 {
    padding-left: 0.15rem;
    color: #FC8019;
}

#nav-icon {
    padding-left: 1rem;
    padding-right: .5rem;
}

.navbar {
    box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 2rem;
}

#navv {
    padding-left: 2rem;
}

#navv:hover {
    color: #FC8019;
}


#breadcrumb .container {
    padding-left: 18%;
    padding-right: 18%;
}

#breadcrumb #olbc {
    font-size: xx-small;
}

#breadcrumb #nav-icon {
    color: black;
    padding-left: 530px;
    font-size: 1.25rem;
}

#heading {
    font-weight: 650;
}

#col1text {
    color: grey;
    font-size: small;
    font-weight: normal;
}

#col2text {
    text-align: end;
    padding-right: 3.5rem;
}

#smhr {
    padding: 0%;
    margin: 0%;
}

#star {
    color: green;
    padding-right: .25rem;
    margin-bottom: 20%;
}


.btn .rate {
    font-size: x-small;
    margin-bottom: 20%;
    margin-top: 20%;
}

#bike {
    color: grey;
}

#brhr {
    border-top: 2px dotted;
}

.smdiv {
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}

.h6 {
    font-size: .5rem;
    color: darkslategray;
    font-weight: 500;
}

#rup {
    padding-left: 1.75rem;
}

.btn img .dis {
    height: 10px;
    width: 10px;
}

.btn h6 .disc {
    font-size: 1rem;
}

#bton {
    padding: 3%;
    font-size: small;
}

.blk {
    color: darkslategray;
    font-weight: 500;
}

.grey {
    color: gray;
    font-weight: 500;
}

.veg {
    padding-top: 1.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 18px;
    margin: 1rem;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: green;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(13px);
}

.hr2 {
    border-top: 2px solid;
}

#nonveg {
    height: 1.15rem;
    width: 1.15rem;
}

#star1 {
    color: rgb(253, 165, 2);
    font-size: small;
}

.raita {
    color: grey;
    font-size: small;
}

#food {
    height: 7rem;
    width: 8rem;
    margin-left: 7rem;
    border-radius: 12px;
}
